#start  {
    position: relative;
    /* background: red; */
    height: 1000px;
    /* border: 50px solid green; */
}
/* #start.past {
    display: none;
}
#start.prev {
    display: block;
} */
#start img {
    width: 500px;
    display: block;
    border: 500px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


img.parrot {
    width: 340px;
}

img.ball {
    width: 160px;
}

img.butterfly {
    width: 380px;
}

img.cornell {
    width: 900px;
}

img.astrology {
    opacity: 0.5;
    transform: rotate(50deg);
}

img.building {
    width: 1000px;
}
