*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;
}

body {
    /* min-height: 740px; */
    background-size: cover;
    background: url(../img/sky.jpg) no-repeat 50% 25% rgb(132,188,195);
}


img {
    max-width: 100%;
}


/* Steps */
.step {
    position: relative;
    width: 1000px;
    height: 562px;
}
.step .vid {
    position: absolute;
    top: 0;
    left: 0;
}






#landing-page {
    background: #fff;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    color: #333;
    font-family: cursive;
}

#landing-page button {
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgba(255,255,255,0);
    appearance: none;
    cursor: pointer;
    font-size: 30px;
    margin: 20px;
}



/* #start  {
}
#start img {
    width: 500px;
    display: block;
    border: 50px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */


/* Windows  */
.windows .vjs-big-play-button {
    top: 66%;
    left: 33%;
}

.concierge .video-js {
    position: absolute;
    top: 0;
    left: 0;
}

.concierge .vjs-playing {
    z-index: 99;
}

.concierge-background {
    z-index: 9;
    position: relative;
}

@keyframes pulse {
  0% { border-color: rgba(255,255,255,0); }
  50% { border-color: rgba(255,255,255,0.8); }
  100% { border-color: rgba(255,255,255,0); }
}


.concierge button {
    border-radius: 5px;
    animation: 3s linear 3s infinite running pulse;
    border: 1px solid transparent;
    background-color: rgba(255,255,255,0);
    appearance: none;
    position: absolute;
    top: 10%;
    left: 10%;
    height: 5%;
    width: 5%;
    cursor: pointer;
}

.concierge button:hover {
    border-color: #fff !important;
    background-color: rgba(255,255,255,0.2);
}
.concierge button.phone {
    left: 78%;
    top: 51%;
    height: 15%;
    width: 10%;
}
.concierge button.book {
    left: 62%;
    top: 72%;
    height: 7%;
    width: 14%;
}
.concierge button.package {
    left: 52%;
    top: 54%;
    height: 11%;
    width: 9%;
    display: none; /* this one goes last */
}
.concierge button.bell {
    left: 50%;
    top: 60%;
    height: 6%;
    width: 5%;
}
.concierge button.umbrella {
    left: 14%;
    top: 38%;
    height: 49%;
    width: 5%;
}
.concierge button.clock {
    left: 70%;
    top: 60%;
    height: 6%;
    width: 6%;
}

/* Keys */
.concierge button.key {
    display: none;
}
.concierge button.key-ssm {
    left: 57%;
    top: 34%;
    height: 8%;
    width: 3%;
}







img.parrot {
    width: 340px;
}
img.ball {
    width: 160px;
}
img.butterfly {
    width: 380px;
}
img.cornell {
    width: 900px;
}
img.astrology {
    opacity: 0.5;
    transform: rotate(50deg);
}
img.building {
    width: 1000px;
}
