@keyframes pulse {
  0% { border-color: rgba(255,255,255,0); }
  50% { border-color: rgba(255,255,255,0.8); }
  100% { border-color: rgba(255,255,255,0); }
}


*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;
}

body {
    /* min-height: 740px; */
    background-size: cover;
    background: url(../img/sky.jpg) no-repeat 50% 25% rgb(132,188,195);
}


img {
    max-width: 100%;
}


/* Steps */
.step {
    position: relative;
    width: 1000px;
    height: 562px;
}
.step .vid {
    position: absolute;
    top: 0;
    left: 0;
}






#landing-page {
    background: #fff;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    color: #333;
    font-family: cursive;
}

#landing-page button {
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgba(255,255,255,0);
    appearance: none;
    cursor: pointer;
    font-size: 30px;
    margin: 20px;
}






.windows .video-js {
    position: absolute;
    top: 0;
    left: 0;
}
.windows .vjs-playing {
    z-index: 99;
}



.concierge .video-js {
    position: absolute;
    top: 0;
    left: 0;
}
.concierge .vjs-playing {
    z-index: 99;
}
.concierge-background {
    z-index: 9;
    position: relative;
}

.concierge button {
    border-radius: 5px;
    animation: 3s linear 3s infinite running pulse;
    border: 1px solid transparent;
    background-color: rgba(255,255,255,0);
    appearance: none;
    position: absolute;
    top: 10%;
    left: 10%;
    height: 5%;
    width: 5%;
    cursor: pointer;
}
.concierge button:hover {
    border-color: #fff !important;
    background-color: rgba(255,255,255,0.2);
}
.concierge button.crg-phone {
    left: 78%;
    top: 51%;
    height: 15%;
    width: 10%;
}
.concierge button.crg-book {
    left: 62%;
    top: 72%;
    height: 7%;
    width: 14%;
}
.concierge button.crg-package {
    left: 52%;
    top: 54%;
    height: 11%;
    width: 9%;
    display: none; /* hidden because last */
}
.concierge button.crg-bell {
    left: 50%;
    top: 60%;
    height: 6%;
    width: 5%;
}
.concierge button.crg-umbrella {
    left: 14%;
    top: 38%;
    height: 49%;
    width: 5%;
}
.concierge button.crg-clock {
    left: 70%;
    top: 60%;
    height: 6%;
    width: 6%;
}





#keys-page img {
    max-height: 100%;
    display: none;
    margin-left: 50%;
    transform: translateX(-50%);
}
.keys button {
    border-radius: 5px;
    animation: 3s linear 3s infinite running pulse;
    border: 1px solid transparent;
    background-color: rgba(255,255,255,0);
    appearance: none;
    position: absolute;
    top: 10%;
    left: 10%;
    height: 5%;
    width: 5%;
    cursor: pointer;
}
.keys button:hover {
    border-color: #fff !important;
    background-color: rgba(255,255,255,0.2);
}
.keys button.keys-ssm {
    left: 38%;
    top: 60%;
    height: 36%;
    width: 8%;
}
.keys button.keys-gg {
    left: 81%;
    top: 10%;
    height: 43%;
    width: 8%;
}
.keys button.keys-sot {
    left: 15%;
    top: 9%;
    height: 39%;
    width: 9%;
}
.keys button.keys-mlj {
    left: 37%;
    top: 9%;
    height: 39%;
    width: 9%;
}
.keys button.keys-av {
    left: 60%;
    top: 59%;
    height: 22%;
    width: 7%;
}









.ssm .video-js {
    position: absolute;
    top: 0;
    left: 0;
}
.ssm .vjs-playing {
    z-index: 99;
}
.ssm-background {
    z-index: 9;
    position: relative;
}
.ssm button {
    border-radius: 5px;
    animation: 3s linear 3s infinite running pulse;
    border: 1px solid transparent;
    background-color: rgba(255,255,255,0);
    appearance: none;
    position: absolute;
    cursor: pointer;
}
.ssm button:hover {
    border-color: #fff !important;
    background-color: rgba(255,255,255,0.2);
}
.ssm button.ssm-globe {
    top: 34%;
    left: 25%;
    height: 13%;
    width: 8%;
}
.ssm button.ssm-gramaphone {
    top: 39%;
    left: 63%;
    height: 28%;
    width: 16%;
}
.ssm button.ssm-books {
    top: 30%;
    left: 46%;
    height: 12%;
    width: 11%;
}
.ssm button.ssm-box {
    top: 14%;
    left: 43%;
    height: 14%;
    width: 11%;
}
.ssm button.ssm-cup {
    top: 61%;
    left: 49%;
    height: 7%;
    width: 8%;
}
.ssm button.ssm-mannequin {
    top: 49%;
    left: 83.5%;
    height: 35%;
    width: 9.5%;
}




.gg .video-js {
    position: absolute;
    top: 0;
    left: 0;
}
.gg .vjs-playing {
    z-index: 99;
}
.gg-background {
    z-index: 9;
    position: relative;
}
.gg button {
    border-radius: 5px;
    animation: 3s linear 3s infinite running pulse;
    border: 1px solid transparent;
    background-color: rgba(255,255,255,0);
    appearance: none;
    position: absolute;
    cursor: pointer;
}
.gg button:hover {
    border-color: #fff !important;
    background-color: rgba(255,255,255,0.2);
}
.gg button.gg-dowel {
    top: 24%;
    left: 25%;
    height: 15%;
    width: 9%;
}
.gg button.gg-bowl {
    top: 80%;
    left: 63%;
    height: 13%;
    width: 11%;
}
.gg button.gg-goblet {
    top: 52%;
    left: 24%;
    height: 33%;
    width: 13%;
}
.gg button.gg-sand {
    top: 86%;
    left: 25%;
    height: 11%;
    width: 26%;
}
.gg button.gg-constellation-low {
    top: 54%;
    left: 39%;
    height: 20%;
    width: 25%;
}
.gg button.gg-symbol {
    top: 30%;
    left: 43%;
    height: 5%;
    width: 3%;
}
.gg button.gg-moon {
    top: 30%;
    left: 57%;
    height: 5%;
    width: 3%;
}
.gg button.gg-constellation-high {
    top: 31%;
    left: 39%;
    height: 20%;
    width: 25%;
}
.gg button.gg-marble {
    top: 89%;
    left: 56%;
    height: 6%;
    width: 3%;
}






.sot .video-js {
    position: absolute;
    top: 0;
    left: 0;
}
.sot .vjs-playing {
    z-index: 99;
}
.sot-background {
    z-index: 9;
    position: relative;
}
.sot button {
    border-radius: 5px;
    animation: 3s linear 3s infinite running pulse;
    border: 1px solid transparent;
    background-color: rgba(255,255,255,0);
    appearance: none;
    position: absolute;
    cursor: pointer;
}
.sot button:hover {
    border-color: #fff !important;
    background-color: rgba(255,255,255,0.2);
}
.sot button.sot-footlight {
    top: 80%;
    left: 35%;
    height: 15%;
    width: 9%;
}
.sot button.sot-lobster {
    top: 18%;
    left: 58%;
    height: 28%;
    width: 18%;
}
.sot button.sot-cherub {
    top: 73%;
    left: 56%;
    height: 23%;
    width: 9%;
}
.sot button.sot-bottle {
    top: 54%;
    left: 22%;
    height: 40%;
    width: 15%;
}
.sot button.sot-ballerina {
    top: 47%;
    left: 34%;
    height: 26%;
    width: 41%;
}
.sot button.sot-fish {
    top: 70%;
    left: 71%;
    height: 13%;
    width: 7%;
}
.sot button.sot-rose {
    top: 20%;
    left: 26%;
    height: 21%;
    width: 11%;
}




.mlj .video-js {
    position: absolute;
    top: 0;
    left: 0;
}
.mlj .vjs-playing {
    z-index: 99;
}
.mlj-background {
    z-index: 9;
    position: relative;
}
.mlj button {
    border-radius: 5px;
    animation: 3s linear 3s infinite running pulse;
    border: 1px solid transparent;
    background-color: rgba(255,255,255,0);
    appearance: none;
    position: absolute;
    cursor: pointer;
}
.mlj button:hover {
    border-color: #fff !important;
    background-color: rgba(255,255,255,0.2);
}
.mlj button.mlj-turtle {
    top: 50%;
    left: 54%;
    height: 13%;
    width: 12%;
}
.mlj button.mlj-egg {
    top: 47%;
    left: 68%;
    height: 15%;
    width: 7%;
}
.mlj button.mlj-feather {
    top: 11%;
    left: 27%;
    height: 19%;
    width: 8%;
}
.mlj button.mlj-skull {
    top: 80%;
    left: 46%;
    height: 15%;
    width: 8%;
}
.mlj button.mlj-shell {
    top: 41%;
    left: 23%;
    height: 22%;
    width: 12%;
}
.mlj button.mlj-binoculars {
    top: 23%;
    left: 65%;
    height: 13%;
    width: 7%;
}



.av .video-js {
    position: absolute;
    top: 0;
    left: 0;
}
.av .vjs-playing {
    z-index: 99;
}
.av-background {
    z-index: 9;
    position: relative;
}
.av button {
    border-radius: 5px;
    animation: 3s linear 3s infinite running pulse;
    border: 1px solid transparent;
    background-color: rgba(255,255,255,0);
    appearance: none;
    position: absolute;
    cursor: pointer;
}
.av button:hover {
    border-color: #fff !important;
    background-color: rgba(255,255,255,0.2);
}
.av button.av-portrait {
    top: 11%;
    left: 60%;
    height: 11%;
    width: 4%;
}
.av button.av-scissors {
    top: 78%;
    left: 41%;
    height: 10%;
    width: 14%;
    transform: rotate(45deg);
}
.av button.av-coaster {
    top: 7%;
    left: 71%;
    height: 21%;
    width: 6%;
}
.av button.av-marbles-wall {
    top: 18%;
    left: 41%;
    height: 11%;
    width: 6%;
}
.av button.av-marbles-jar {
    top: 51%;
    left: 36%;
    height: 17%;
    width: 6%;
}
.av button.av-map {
    top: 41%;
    left: 51%;
    height: 10%;
    width: 8%;
}
.av button.av-wood {
    top: 58%;
    left: 48%;
    height: 9%;
    width: 7%;
}





img.parrot {
    width: 340px;
}
img.ball {
    width: 160px;
}
img.butterfly {
    width: 380px;
}
img.cornell {
    width: 900px;
}
img.astrology {
    opacity: 0.5;
    transform: rotate(50deg);
}
img.building {
    width: 1000px;
}
